body {
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
    }
    #global{  
        background: white;
    }
    #logo{
        background: #ca3413;
    }
    #menu{
        background: #ca3413;      
    }
    li:hover{
        background:#4d1104 ;
    }
    a.button{
         background:#ca3413 ;
    }
    .button:hover{
        background: rgba(236, 33, 33, 0.74) ;
    }
    h4.titulo-sidebars  span{
        background: white;
    }
    input[type="submit"]{
        background: #ca3413;
    }
    footer{
        background: rgba(243, 31, 31, 0.726);
        }