body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
    }
    #global{  
        background: white;
    }
    #logo{
        background: #235E3D;
    }
    #menu{
        background: #333;      
    }
    li:hover{
        background:#235E3D ;
    }
    a.button{
         background:#235E3D ;
    }
    .button:hover{
        background: rgba(51, 51, 51, 0.623) ;
    }
    h4.titulo-sidebars  span{
        background: white;
    }
    input[type="submit"]{
        background: grey;
    }
    footer{
        background: rgba(51, 51, 51, 0.788);
        }
